@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
    background-color: #1f242d;
    flex-direction: column;
}
.inputBox{
    position: relative;
    width: 350px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;

}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color :rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color : #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background:#1d2b3a;
    color:aqua;
    /* border-left: 1px solid #00dfc4; */
    /* border-right: 1px solid #00dfc4; */
    letter-spacing: 0.5em;
}

.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #00dfc4;
}
h2{
    position: relative;
    font-size: 3em;
    color: #333;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 100px #fff);
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color : rgba(255,255,255,0.4);
    background: #262c37;
    letter-spacing: 2px;
    font-size: 17px;

}
a:hover{
    color:rgba(255, 255, 255, 1);
}
a span{
    display: block;
    position: absolute;
    background: #2894ff;   
}
a span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

a span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

a:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}


a span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

a span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

a:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}