<!DOCTYPE html>
<html>
    <head>
        <title>Symptomite</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <h2 data-text="&nbsp;Symptomite&nbsp;">&nbsp;Symptomite&nbsp;</h2></body>
        <div class="inputBox">
            <form action="/" method="POST">
            <input spellcheck="false" type="text" name="nameInp" required="required">
            <span>Enter Your Name</span>
        </div>
        <a href="{{ url_for('nextPage') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Start CheckUp
        <!-- </form> -->
    </form>
    </body>
</html>
