<!DOCTYPE html>
<html lang="en">
<head>
    <title>Result Page</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2 data-text="&nbsp;No You can't be patient of Diabetes&nbsp;">&nbsp;No You can't be patient of Diabetes&nbsp;</h2></body>
    </div>
    <a href="{{ url_for('nextPage') }}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        New CheckUp
    </a>
</body>
</html>